! Define the TACACS+ servers
tacacs server ISE-TACACS1
 address ipv4 192.168.2.117
 key 0 3edc$RFVmko0MKO)
 single-connection

tacacs server ISE-TACACS2
 address ipv4 192.168.2.113
 key 0 3edc$RFVmko0MKO)
 single-connection

! Create the AAA server group using the TACACS+ servers
aaa group server tacacs+ ISE-TACACS-GROUP
 server name ISE-TACACS1
 server name ISE-TACACS2

! Set the source interface for TACACS+ traffic (use loopback0 or mgmt interface as appropriate)
ip tacacs source-interface vlan1

! Enable TACACS+ directed requests
tacacs directed-request

! Define AAA authentication
aaa authentication login default group ISE-TACACS-GROUP local

! Define AAA authorization for exec shell access
aaa authorization exec default group ISE-TACACS-GROUP local

! Define AAA authorization for configuration mode
aaa authorization config-commands

! Define AAA Authorization for console access
aaa authorization console

! Define AAA command authorization - least privilege by default
aaa authorization commands 0 default group ISE-TACACS-GROUP local
aaa authorization commands 1 default group ISE-TACACS-GROUP local
aaa authorization commands 15 default group ISE-TACACS-GROUP local

! Local user account for failback (least privilege)
username failback privilege 1 secret 0 FALLBACK_PASSWORD

! Optional: log authentication failures
aaa accounting exec default start-stop group ISE-TACACS-GROUP
aaa accounting commands 0 default start-stop group ISE-TACACS-GROUP
aaa accounting commands 1 default start-stop group ISE-TACACS-GROUP
aaa accounting commands 15 default start-stop group ISE-TACACS-GROUP

! Enable AAA
aaa new-model
